[submodule "submodules/pjproject"]
	path = submodules/pjproject
	url = git@github.com:pjsip/pjproject.git
	ignore = dirty
[submodule "submodules/bcg729"]
	path = submodules/bcg729
	url = git@github.com:BelledonneCommunications/bcg729.git
	ignore = dirty
